<h1>Gretter#hello</h1>
<p>Find me in app/views/gretter/hello.html.erb</p>

<!--Pratice edit View. and write ruby code into erb file.-->
<% random_names = ["Alex", "Peggy", "Este"] %>
<h1>Greeters, <%= random_names.sample %></h1>
<p>The time now is <%=Time.now %> </p>
